/*--------------------------------
  Mixins
---------------------------------*/

.centerx {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.centery {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.centerxy {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.centerAutoMax {
  width: 92%;
  max-width: 1280px;
  margin: 0 auto;
}
