.beers__list {
  margin-top: 40px;
  .beers {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    .beers__elt {
      background-color: $gold;
      border-radius: 2px;
      padding: 20px 30px;
      margin-bottom: 20px;
      position: relative;
      overflow: hidden;
      &:last-child {
        margin-bottom: 0px;
      }
      h3 {
        color: $white;
        margin-bottom: 8px;
      }
      p {
        float: left;
        width: 50%;
        margin-bottom: 4px;
        color: $white;
      }
      .close {
        cursor: pointer;
        padding: 10px 14px;
        position: absolute;
        top: 0;
        right: 0;
        color: $white;
        transition: all 0.1s ease-in;
        &:hover {
          background-color: $extra-light-gold;
          border-bottom-left-radius: 2px;
          color: $gray;
        }
      }
    }
  }
}
