/*--------------------------------
  Modules style
---------------------------------*/

button {
  background-color: $gold;
  outline: none;
  border: none;
  border-radius: 2px;
  padding: 16px 22px;
  color: $white;
  cursor: pointer;
  transition: all .3s ease-in-out;
  &:hover {
    background-color: $black;
  }
}
