input {
    border: 2px solid $gold;
    border-radius: 2px;
    background-color: transparent;
    width: calc(100% - 44px);
    padding: 12px 20px;
    color: $white;
    font-family: $opensans;
    font-weight: 700;
}

::placeholder {
   color: $placeholder;
   font-family: $opensans;
   font-weight: 700;
}